AUTHOR = " Athira Rajeev <atrajeev@in.ibm.com>  " 
NAME = "sgml_common" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test sgml-common package 
    ''' 
path = '' 
job.run_test('sgml_common',test_path=path) 
