AUTHOR = " Ramya BS , ramya@linux.vnet.ibm.com                                ##  " 
NAME = "perl_HTML_Tree" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-HTML-Tree package 
    ''' 
path = '' 
job.run_test('perl_HTML_Tree',test_path=path) 
