AUTHOR = " Athira Rajeev <atrajeev@in.ibm.com>   	                      ##  " 
NAME = "nettle" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test nettle package 
    ''' 
path = '' 
job.run_test('nettle',test_path=path) 
