AUTHOR = " Abhishek Sharma < abhisshm@in.ibm.com >                                   ##  " 
NAME = "perl_Business_ISBN" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-Business-ISBN package 
    ''' 
path = '' 
job.run_test('perl_Business_ISBN',test_path=path) 
