AUTHOR = " Robert Paulsen  " 
NAME = "mailx" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test mailx package 
    ''' 
path = '' 
job.run_test('mailx',test_path=path) 
