AUTHOR = " Kingsuk Deb, kingsdeb@linux.vnet.ibm.com                     ##  " 
NAME = "libtasn1" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test libtasn1 package 
    ''' 
path = '' 
job.run_test('libtasn1',test_path=path) 
