AUTHOR = " Sheetal Kamatar <sheetal.kamatar@in.ibm.com>                  ##  " 
NAME = "perl_Convert_ASN1" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-Convert-ASN1 package 
    ''' 
path = '' 
job.run_test('perl_Convert_ASN1',test_path=path) 
