AUTHOR = " Yu-Pao Lee, yplee@us.ibm.com
NAME = "openssh" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test openssh package 
    ''' 
path = '' 
job.run_test('openssh',test_path=path) 
