AUTHOR = " Gopal Kalita <gokalita@in.ibm.com>                                 ##  " 
NAME = "neon" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test neon package 
    ''' 
path = '' 
job.run_test('neon',test_path=path) 
