AUTHOR = " Abhishek Sharma < abhisshm@in.ibm.com >                                   ##  " 
NAME = "libmnl" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test libmnl package 
    ''' 
path = '' 
job.run_test('libmnl',test_path=path) 
