AUTHOR = " Madhuri Appana, madhuria@linux.vnet.ibm.com  " 
NAME = "usermode" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test usermode package 
    ''' 
path = '' 
job.run_test('usermode',test_path=path) 
