AUTHOR = " Anitha MallojiRao amalloji@in.ibm.com                        ##  " 
NAME = "perl_Net_LibIDN" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-Net-LibIDN package 
    ''' 
path = '' 
job.run_test('perl_Net_LibIDN',test_path=path) 
