AUTHOR = " Athira Rajeev <atrajeev@in.ibm.com>                     ##  " 
NAME = "perl_XML_Dumper" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-XML-Dumper package 
    ''' 
path = '' 
job.run_test('perl_XML_Dumper',test_path=path) 
