# default svn:ignore property:
*.o
*.lo
*.la
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store.
# additional patterns:
RELEASE-VERSION
*.pyc
*.pid
.project
.pydevproject
.settings
.coverage
coverage.xml
xunit.xml
