AUTHOR = " Robb Romans <robb@austin.ibm.com>  " 
NAME = "e2fsprogs" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test e2fsprogs package 
    ''' 
path = '' 
job.run_test('e2fsprogs',test_path=path) 
