AUTHOR = " Basheer Khadarsabgari<bkhadars@in.ibm.com>  " 
NAME = "libpipeline" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test libpipeline package 
    ''' 
path = '' 
job.run_test('libpipeline',test_path=path) 
