AUTHOR = " Charishma M <charism2@in.ibm.com>                             		  ##  " 
NAME = "perl_XML_XQL" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-XML-XQL package 
    ''' 
path = '' 
job.run_test('perl_XML_XQL',test_path=path) 
