AUTHOR = " Madhuri Appana <maappana@in.ibm.com>                          ##  " 
NAME = "perl_XML_Grove" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-XML-Grove package 
    ''' 
path = '' 
job.run_test('perl_XML_Grove',test_path=path) 
