AUTHOR = " Kumuda G, kumuda@linux.vnet.ibm.com  " 
NAME = "perl_Net_DNS" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-Net-DNS package 
    ''' 
path = '' 
job.run_test('perl_Net_DNS',test_path=path) 
