AUTHOR = " Hoisaleshwara Madan V S  <madan.vsh@in.ibm.com>  " 
NAME = "perl_Exporter" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-Exporter package 
    ''' 
path = '' 
job.run_test('perl_Exporter',test_path=path) 
