AUTHOR = " Anitha MallojiRao amalloji@in.ibm.com                        ##  " 
NAME = "libhangul" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test libhangul package 
    ''' 
path = '' 
job.run_test('libhangul',test_path=path) 
