AUTHOR = " Andrew Pham, apham@austin.ibm.com  " 
NAME = "vsftpd" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test vsftpd package 
    ''' 
path = '' 
job.run_test('vsftpd',test_path=path) 
