AUTHOR = "Li Yang <liyang.fnst@cn.fujitsu.com>"
NAME = "cgroup_tests"
TIME = "SHORT"
TEST_CATEGORY = "Functional"
TEST_CLASS = "General"
TEST_TYPE = "client"

DOC = """
This test checks basic functionality of cgroups
"""
import os
os.environ['LANG'] = 'en_US.UTF-8'
cgroup_test_dir = os.path.join(os.environ['AUTODIR'],'tests/cgroup_tests')
sys.path.insert(0, cgroup_test_dir)
test_cfg = os.path.join(cgroup_test_dir, 'test.cfg')
test_case_list = [_.strip() for _ in open(test_cfg)]
for item in test_case_list:
    job.run_test('cgroup_tests', item=item, subdir_tag=item)
