AUTHOR = " Kingsuk Deb, kingsdeb@linux.vnet.ibm.com                      ##  " 
NAME = "lrzsz" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test lrzsz package 
    ''' 
path = '' 
job.run_test('lrzsz',test_path=path) 
