AUTHOR = " Robert Paulsen, rpaulsen@us.ibm.com  " 
NAME = "zip" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test zip package 
    ''' 
path = '' 
job.run_test('zip',test_path=path) 
