AUTHOR = " Kumuda G  " 
NAME = "strongswan" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test strongswan package 
    ''' 
path = '' 
job.run_test('strongswan',test_path=path) 
