AUTHOR = " RC Paulsen  " 
NAME = "mutt" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test mutt package 
    ''' 
path = '' 
job.run_test('mutt',test_path=path) 
