AUTHOR = " Kumuda G, kumuda@linux.vnet.ibm.com  " 
NAME = "yum_utils" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test yum-utils package 
    ''' 
path = '' 
job.run_test('yum_utils',test_path=path) 
