AUTHOR = " rende@cn.ibm.com  " 
NAME = "powerpc_utils" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test powerpc-utils package 
    ''' 
path = '' 
job.run_test('powerpc_utils',test_path=path) 
