AUTHOR = " Manoj Iyer  manjo@mail.utexas.edu  " 
NAME = "sysvinit_tools" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test sysvinit-tools package 
    ''' 
path = '' 
job.run_test('sysvinit_tools',test_path=path) 
