AUTHOR = " Kingsuk Deb, kingsdeb@linux.vnet.ibm.com                           ##  " 
NAME = "perl_Date_Manip" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-Date-Manip package 
    ''' 
path = '' 
job.run_test('perl_Date_Manip',test_path=path) 
