AUTHOR = " Anitha MallojiRao amalloji@in.ibm.com                        ##  " 
NAME = "perl_String_CRC32" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-String-CRC32 package 
    ''' 
path = '' 
job.run_test('perl_String_CRC32',test_path=path) 
