AUTHOR = " Charishma M <charism2@in.ibm.com>                             		  ##  " 
NAME = "perl_Mozilla_CA" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-Mozilla-CA package 
    ''' 
path = '' 
job.run_test('perl_Mozilla_CA',test_path=path) 
