AUTHOR = " Ravindran Arani <ravi@linux.vnet.ibm.com>                     ##  " 
NAME = "perl_PathTools" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-PathTools package 
    ''' 
path = '' 
job.run_test('perl_PathTools',test_path=path) 
