AUTHOR = " Anitha MallojiRao amalloji@in.ibm.com                        ##  " 
NAME = "microcode_ctl" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test microcode_ctl package 
    ''' 
path = '' 
job.run_test('microcode_ctl',test_path=path) 
