AUTHOR = " Anitha MallojiRao amalloji@in.ibm.com                        ##  " 
NAME = "nss_softokn" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test nss-softokn package 
    ''' 
path = '' 
job.run_test('nss_softokn',test_path=path) 
