AUTHOR = " Kumuda G <kumuda.govind@in.ibm.com>                           ##  " 
NAME = "perl_URI" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-URI package 
    ''' 
path = '' 
job.run_test('perl_URI',test_path=path) 
