AUTHOR = " Feng MiaoTao, fengmt@cn.ibm.com  " 
NAME = "bind" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test bind package 
    ''' 
path = '' 
job.run_test('bind',test_path=path) 
