AUTHOR = " Suzuki K P <suzukikp@in.ibm.com>  " 
NAME = "libnl" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test libnl package 
    ''' 
path = '' 
job.run_test('libnl',test_path=path) 
