AUTHOR = "Ramya BS@linux.vnet.ibm.com>"
NAME = "libndp"
TEST_CATEGORY = "Functional"
TEST_CLASS = "Linux Tools"
TEST_TYPE = "client"
TIME = 'SHORT'
DOC = '''
Test libndp package
'''
path = ''
job.run_test('libndp',test_path=path)

