AUTHOR = " Athira Rajeev  " 
NAME = "libassuan" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test libassuan package 
    ''' 
path = '' 
job.run_test('libassuan',test_path=path) 
