AUTHOR = " Ramya BS , ramya@linux.vnet.ibm.com                                ##  " 
NAME = "perl_XML_SAX_Base" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-XML-SAX-Base package 
    ''' 
path = '' 
job.run_test('perl_XML_SAX_Base',test_path=path) 
