AUTHOR = " Wang Tao <wangttao@cn.ibm.com>  " 
NAME = "cvs" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test cvs package 
    ''' 
path = '' 
job.run_test('cvs',test_path=path) 
