AUTHOR = " Anitha MallojiRao amalloji@in.ibm.com                        ##  " 
NAME = "perl_Text_Iconv" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-Text-Iconv package 
    ''' 
path = '' 
job.run_test('perl_Text_Iconv',test_path=path) 
