AUTHOR = " Manoj Iyer  manjo@mail.utexas.edu  " 
NAME = "tcp_wrappers" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test tcp_wrappers package 
    ''' 
path = '' 
job.run_test('tcp_wrappers',test_path=path) 
