AUTHOR = " Robert Paulsen, rpaulsen@us.ibm.com  " 
NAME = "nfs_utils" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test nfs-utils package 
    ''' 
path = '' 
job.run_test('nfs_utils',test_path=path) 
