AUTHOR = " Anitha MallojiRao amalloji@in.ibm.com                        ##  " 
NAME = "diffstat" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test diffstat package 
    ''' 
path = '' 
job.run_test('diffstat',test_path=path) 
