AUTHOR = " Kingsuk Deb, kingsdeb@linux.vnet.ibm.com		                          ##  " 
NAME = "python_dmidecode" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test python-dmidecode package 
    ''' 
path = '' 
job.run_test('python_dmidecode',test_path=path) 
