AUTHOR = " Suzuki K P <suzukikp@in.ibm.com>  " 
NAME = "dbus_python" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test dbus-python package 
    ''' 
path = '' 
job.run_test('dbus_python',test_path=path) 
