AUTHOR = " Athira Rajeev<atrajeev@in.ibm.com>  " 
NAME = "psacct" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test psacct package 
    ''' 
path = '' 
job.run_test('psacct',test_path=path) 
