AUTHOR = " Basheer Khadarsabgari <bkhadars@in.ibm.com>                               ##  " 
NAME = "perl_XML_NamespaceSupport" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-XML-NamespaceSupport package 
    ''' 
path = '' 
job.run_test('perl_XML_NamespaceSupport',test_path=path) 
