AUTHOR = " Athira Rajeev<atrajeev@in.ibm.com>  " 
NAME = "rng_tools" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test rng-tools package 
    ''' 
path = '' 
job.run_test('rng_tools',test_path=path) 
