AUTHOR = " Anitha MallojiRao amalloji@in.ibm.com                        ##  " 
NAME = "perl_XML_Twig" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-XML-Twig package 
    ''' 
path = '' 
job.run_test('perl_XML_Twig',test_path=path) 
