AUTHOR = " Pravin S. Gaikar  " 
NAME = "lighttpd" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test lighttpd package 
    ''' 
path = '' 
job.run_test('lighttpd',test_path=path) 
