AUTHOR = " Sohny Thomas <sohthoma@in.ibm.com>  " 
NAME = "numad" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test numad package 
    ''' 
path = '' 
job.run_test('numad',test_path=path) 
