AUTHOR = " Kingsuk Deb, kingsdeb@linux.vnet.ibm.com                      ##  " 
NAME = "lua" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test lua package 
    ''' 
path = '' 
job.run_test('lua',test_path=path) 
