AUTHOR = " Robert Paulsen, rpaulsen@us.ibm.com  " 
NAME = "shadow_utils" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test shadow-utils package 
    ''' 
path = '' 
job.run_test('shadow_utils',test_path=path) 
