AUTHOR = " Athira Rajeev  " 
NAME = "libbonobo" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test libbonobo package 
    ''' 
path = '' 
job.run_test('libbonobo',test_path=path) 
