AUTHOR = " Kingsuk Deb <kingsdeb@linux.vnet.ibm.com>                     ##  " 
NAME = "perl_Digest_SHA1" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-Digest-SHA1 package 
    ''' 
path = '' 
job.run_test('perl_Digest_SHA1',test_path=path) 
