AUTHOR = " Abhishek Sharma < abhisshm@in.ibm.com >                                   ##  " 
NAME = "perl_HTTP_Date" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-HTTP-Date package 
    ''' 
path = '' 
job.run_test('perl_HTTP_Date',test_path=path) 
