AUTHOR = " Robert Paulsen, rpaulsen@us.ibm.com  " 
NAME = "fiv_verify" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test fiv_verify package 
    ''' 
path = '' 
job.run_test('fiv_verify',test_path=path) 
