AUTHOR = " Hong Bo Peng <penghb@cn.ibm.com>  " 
NAME = "openhpi" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test openhpi package 
    ''' 
path = '' 
job.run_test('openhpi',test_path=path) 
