AUTHOR = " Jue Xie, xiejue@cn.ibm.com  " 
NAME = "cyrus_sasl" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test cyrus-sasl package 
    ''' 
path = '' 
job.run_test('cyrus_sasl',test_path=path) 
