AUTHOR = " rende@cn.ibm.com  " 
NAME = "krb5" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test krb5 package 
    ''' 
path = '' 
job.run_test('krb5',test_path=path) 
