AUTHOR = " Kingsuk Deb <kingsdeb@linux.vnet.ibm.com>                     ##  " 
NAME = "pkgconfig" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test pkgconfig package 
    ''' 
path = '' 
job.run_test('pkgconfig',test_path=path) 
