AUTHOR = " Athira Rajeev <atrajeev@in.ibm.com>                           ##  " 
NAME = "perl_Encode" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-Encode package 
    ''' 
path = '' 
job.run_test('perl_Encode',test_path=path) 
