AUTHOR = " Ravindran Arani <ravi@linux.vnet.ibm.com>                     ##  " 
NAME = "python_lxml" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test python-lxml package 
    ''' 
path = '' 
job.run_test('python_lxml',test_path=path) 
