AUTHOR = " Suzuki K P <suzukikp@in.ibm.com>  " 
NAME = "device_mapper_multipath" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test device-mapper-multipath package 
    ''' 
path = '' 
job.run_test('device_mapper_multipath',test_path=path) 
