AUTHOR = " Anitha MallojiRao amalloji@in.ibm.com                        ##  " 
NAME = "perl_DBIx_Simple" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-DBIx-Simple package 
    ''' 
path = '' 
job.run_test('perl_DBIx_Simple',test_path=path) 
