AUTHOR = " Ramesh YR, rameshyr@linux.vnet.ibm.com                        ##  " 
NAME = "libssh2" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test libssh2 package 
    ''' 
path = '' 
job.run_test('libssh2',test_path=path) 
