AUTHOR = " Sheetal Kamatar <sheetal.kamatar@in.ibm.com>                  ##  " 
NAME = "perl_GSSAPI" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-GSSAPI package 
    ''' 
path = '' 
job.run_test('perl_GSSAPI',test_path=path) 
