AUTHOR = " Athira Rajeev<atrajeev@in.ibm.com>  " 
NAME = "gtk2" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test gtk2 package 
    ''' 
path = '' 
job.run_test('gtk2',test_path=path) 
