AUTHOR = " Basheer K<bkhadars@in.ibm.com>                                           ##  " 
NAME = "perl_HTTP_Message" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-HTTP-Message package 
    ''' 
path = '' 
job.run_test('perl_HTTP_Message',test_path=path) 
