AUTHOR = " Paul Washington - wshp@us.ibm.com  " 
NAME = "bc" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test bc package 
    ''' 
path = '' 
job.run_test('bc',test_path=path) 
