AUTHOR = " Suzuki K P <suzukikp@in.ibm.com>  " 
NAME = "acpid" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test acpid package 
    ''' 
path = '' 
job.run_test('acpid',test_path=path) 
