AUTHOR = " Hariharan T S <harihare@in.ibm.com>                           ##  " 
NAME = "perl_podlators" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test perl-podlators package 
    ''' 
path = '' 
job.run_test('perl_podlators',test_path=path) 
