AUTHOR = " Xu Zheng ,zhengxu@cn.ibm.com  " 
NAME = "libusb" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test libusb package 
    ''' 
path = '' 
job.run_test('libusb',test_path=path) 
