AUTHOR = " Robb Romans <robb@austin.ibm.com>  " 
NAME = "openssl" 
TEST_CATEGORY = "Functional" 
TEST_CLASS = "Linux Tools" 
TEST_TYPE = "client" 
TIME = 'SHORT' 
DOC = ''' 
    Test openssl package 
    ''' 
path = '' 
job.run_test('openssl',test_path=path) 
