AUTHOR = "Athira Rajeev<atrajeev@linux.vnet.ibm.com>"
NAME = "avahi-autoipd"
TEST_CATEGORY = "Functional"
TEST_CLASS = "Linux Tools"
TEST_TYPE = "client"
TIME = 'SHORT'
DOC = '''
Test avahi-autoipd package
'''
path = ''

job.run_test('avahi_autoipd',test_path=path)
